<p id="notice"><%= notice %></p>

<h1>Pledgees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pledgees.each do |pledgee| %>
      <tr>
        <td><%= pledgee.name %></td>
        <td><%= link_to 'Show', pledgee %></td>
        <td><%= link_to 'Edit', edit_pledgee_path(pledgee) %></td>
        <td><%= link_to 'Destroy', pledgee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pledgee', new_pledgee_path %>
