<p id="notice"><%= notice %></p>

<p>
  <strong>Reception point:</strong>
  <%= @weight_detail.reception_point %>
</p>

<p>
  <strong>Reception status:</strong>
  <%= @weight_detail.reception_status %>
</p>

<p>
  <strong>Harvest:</strong>
  <%= @weight_detail.harvest %>
</p>

<p>
  <strong>Client:</strong>
  <%= @weight_detail.client %>
</p>

<p>
  <strong>Reception date:</strong>
  <%= @weight_detail.reception_date %>
</p>

<p>
  <strong>Type of vehicle:</strong>
  <%= @weight_detail.type_of_vehicle %>
</p>

<p>
  <strong>Plate:</strong>
  <%= @weight_detail.plate %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @weight_detail.driver %>
</p>

<p>
  <strong>Remission number:</strong>
  <%= @weight_detail.remission_number %>
</p>

<p>
  <strong>Procedence:</strong>
  <%= @weight_detail.procedence %>
</p>

<p>
  <strong>Receipt:</strong>
  <%= @weight_detail.receipt %>
</p>

<p>
  <strong>Waste in transit:</strong>
  <%= @weight_detail.waste_in_transit %>
</p>

<p>
  <strong>Pledgee:</strong>
  <%= @weight_detail.pledgee %>
</p>

<%= link_to 'Edit', edit_weight_detail_path(@weight_detail) %> |
<%= link_to 'Back', weight_details_path %>
